.idea/
*.iml
target/
*.orig
*.png
/ImgCompExtentReport.html
src/test/java/pageobjects/euroApi/imageComparison/screenshots/
src/test/java/pageobjects/euroApi/stockData/
/test-output/
/phantomjs
*.html
*database_config.py
*__pycache__*
